include src/scloop/utils/linear_algebra_gf2/libm4ri.a
recursive-include src/scloop/utils/linear_algebra_gf2/include *.h
include src/scloop/utils/linear_algebra_gf2/*.pyx
include src/scloop/utils/distance_metrics/*.pyx
include src/scloop/data/*.pyx
include src/scloop/data/*.cpp
include src/scloop/data/*.h
