include src/scloop/utils/linear_algebra_gf2/libm4ri.a
include src/scloop/utils/linear_algebra_gf2/libGF2toolkit.a
recursive-include src/scloop/utils/linear_algebra_gf2/include *.h
recursive-include src/scloop/utils/linear_algebra_gf2/GF2toolkit/srcs *.hh
include src/scloop/utils/linear_algebra_gf2/*.pyx
include src/scloop/utils/linear_algebra_gf2/*.cpp
include src/scloop/utils/linear_algebra_gf2/*.hpp
include src/scloop/utils/distance_metrics/*.pyx
include src/scloop/data/*.pyx
include src/scloop/data/*.cpp
include src/scloop/data/*.h
