[tools]
uv = "latest"

[env]
CPLUS_INCLUDE_PATH = "{{config_root}}/src/scloop/data"

[settings]
python.uv_venv_auto = true

[tasks.sync_full]
run = [
	"uv cache clean",
	"uv cache prune",
	"rm -rf .venv",
	"rm -rf dist",
	"rm -rf ./src/scloop.egg-info",
	"rm -f uv.lock",
	"find ./src -name '*.so'  -type f -delete",
    "uv sync",
    "uv build"
]

[tasks.sync]
run = [
    "uv sync",
    "uv build"
]

[tasks.format]
run = [
    "pyproject-fmt pyproject.toml",
    "uv run ruff format"
]

[tasks.info]
run = [
    "uv --version",
    "python --version",
	"echo $CPLUS_INCLUDE_PATH"
]

[tasks.kernel]
run = "uv run ipython kernel install --name 'scLoop' --user"
