[tools]
uv = "latest"

[env]
CPLUS_INCLUDE_PATH = "{{config_root}}/src/scloop/data"

[settings]
python.uv_venv_auto = true

[tasks.sync]
run = [
    "uv sync",
    "uv build"
]

[tasks.info]
run = [
    "uv --version",
    "python --version",
	"echo $CPLUS_INCLUDE_PATH"
]

[tasks.kernel]
run = "uv run ipython kernel install --name 'scLoop' --user"
