[tools]
uv = "latest"

[env]
CPLUS_INCLUDE_PATH = "{{config_root}}/src/scloop/data"

[settings]
python.uv_venv_auto = true

[tasks.clean]
run = [
    "uv cache clean",
    "uv cache prune",
    "rm -rf .venv",
    "rm -rf dist",
    "rm -rf ./src/scloop.egg-info",
    "rm -f uv.lock",
    "find ./src -name '*.so'  -type f -delete",
]

[tasks.sync_full]
run = [
    "uv cache clean",
    "uv cache prune",
    "rm -rf .venv",
    "rm -rf dist",
    "rm -rf ./src/scloop.egg-info",
    "rm -f uv.lock",
    "find ./src -name '*.so'  -type f -delete",
    "make build-m4ri",
    "uv sync"
]

[tasks.sync]
run = [
    "uv sync",
]

[tasks.format]
run = [
    "pyproject-fmt pyproject.toml",
    "uv run ruff format",
    "uv run ruff check --fix"
]

[tasks.info]
run = [
    "uv --version",
    "python --version",
	"echo $CPLUS_INCLUDE_PATH",
	"tree -L 3 -I '__pycache__|*.pyc|*.so|archive|m4ri|*~' src/scloop/"
]

[tasks.bump]
run = [
    "uv version --bump patch",
    "git tag $(uv version --short)",
    "git push --tags",
    "git push"
]

[tasks.kernel]
run = "uv run ipython kernel install --name 'scLoop' --user"
