name: "Publish"

on:
  push:
    tags:
      # Publish on any tag starting with a `v`, e.g., v0.1.0
      - v*

jobs:
  run:
    runs-on: ubuntu-latest
    environment:
      name: pypi
    permissions:
      id-token: write
      contents: read
    steps:
      - name: Checkout
        uses: actions/checkout@v5
        with:
          submodules: recursive
      - name: Install uv
        uses: astral-sh/setup-uv@v7
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.12'
      - name: Install cibuildwheel
        run: python -m pip install cibuildwheel
      - name: Build wheels
        run: python -m cibuildwheel --output-dir dist
        env:
          CIBW_BUILD: cp312-manylinux_x86_64
          CIBW_BEFORE_ALL_LINUX: |
            yum install -y autoconf automake libtool m4
            cd {project}
            unset CFLAGS LDFLAGS CPLUS_INCLUDE_PATH
            make build-m4ri
          CIBW_ENVIRONMENT: >
            CFLAGS="-I{project}/src/scloop/utils/linear_algebra_gf2/include"
            LDFLAGS="-L{project}/src/scloop/utils/linear_algebra_gf2"
            CPLUS_INCLUDE_PATH="{project}/src/scloop/data:{project}/src/scloop/utils/distance_metrics"
      - name: Build source distribution
        run: |
          python -m pip install build
          python -m build --sdist
      - name: Publish
        run: |
          python -m pip install uv
          uv publish
